
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background: #020617;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 1000;
}

header a {
    color: #e5e7eb;
    margin-left: 20px;
    text-decoration: none;
}

header a:hover {
    color: #38bdf8;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
}

.hero span {
    color: #38bdf8;
}

.hero-img img {
    width: 300px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #38bdf8;
    color: #020617;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

/* SECTIONS */
.section {
    padding: 80px 50px;
    text-align: center;
}

.facts {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.fact {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
}

/* SKILLS */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-card {
    background: #020617;
    padding: 15px 25px;
    border-radius: 20px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    background: #38bdf8;
    color: #020617;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* CONTACT */
#contact a {
    color: #38bdf8;
    text-decoration: none;
}
